{% extends "layout.html" %}
{% block title %}Fitness 360{% endblock %}
{% block page %}Fitness 360{% endblock %}

{{ super() }}

{% block content %}
<style>
body {
   background-image: url('https://images.pexels.com/photos/1552252/pexels-photo-1552252.jpeg?cs=srgb&dl=pexels-leonardho-1552252.jpg&fm=jpg');
   background-size: cover; 
   background-repeat: no-repeat;
   background-position: center; 
   font-family: "Open Sans", sans-serif;
}

/* Added media queries for smaller screens */
@media screen and (max-width: 600px) {
    body {
        font-size: 0.8em;
    }
    .popup-content {
        width: 90%;
    }
    .column {
        width: 100%;
    }
    .smaller-image {
        width: 100%;
        height: auto;
    }
}
.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.popup-content {
    padding: 20px;
    background-color: rgb(206, 196, 196);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-content form {
    margin-bottom: 10px;
}

.popup-content button {
    margin-right: 10px;
}
.popup-content #close-popup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #999;
}

    .custom-black {
    background-color: #1c1c1c; 
}
    .container{
        padding: 10px;
       /* background-color: rgb(216, 212, 212);*/
        display: flex;
        align-items: center;
    }
    .column {
        float: left;
        padding: 10px;
        height: 90vh; /* Adjust as needed */
        overflow-y: auto;
    }
    .left {
        width: 25%;
    }
    .row {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
}


.column.middle {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    width: 50%; 
}
    .right {
        width: 25%;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .smaller-image {
        width: 300px; /* Adjust as needed */
        height: 400px;
    }

    #add-exercise-btn:hover, .delete-exercise-btn:hover, #finish-btn:hover span:after {
        background-color: #0099ff; /* Change to your desired hover color */
        cursor: pointer;
    }

    .separator {
        border-top: 1px solid #0909f1;
        margin: 10px 0;
    }
</style>


<!--Left side navigation bar to select an exercise-->
<section  style="margin-top: 5px; overflow-y:scroll; height: 86vh">
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <nav class="nav-extended custom-black" style="margin-bottom:10px">
            <div class="nav-wrapper">
            <a href="#" style="font-size:1.2em" class="brand-logo">Let's get ripped: {{current_user.username}} </a>
            </div>
        </nav>

        
        <!-- Left column content (Select an Exercise) -->
        <h5>Select An Exercise</h5>
        <div class="input-field col s12">
            <div class="scrollable-list collection with-scroller" style="background-color: #b2abab;">
                {% for workout in workouts %}
                <a href="/app/{{workout.workout_id}}" class="collection-item" style="color:black; background-color: #999; border:none">{{ workout.exercise_name }}</a><br>
                {% endfor %}
            </div>
        </div>
            
    </ul>
</section>
    
<div class="row">
    <!-- Left middle Column  -->
    <div class="column">
        <!-- Popup container for routine details -->
{% if selected_routine %}
<div class="popup-container" id="routine-popup" style="display: none;">
    <div class="popup-content card">
        <p id="routine-popup-title" style="colour: black; font-size:larger">Routine: {{selected_routine.name}}</p>
        <p>Click finish to save changes.</p>
        <form id="routine-form" action="/updatename/{{ selected_routine.routine_id }}" method="POST">
            <label for="routine-name">Update Name:</label>
            <input type="text" id="routine-name" name="name" value="{{selected_routine.name}}">
            <br>
            <div class="separator"></div>
            <label for="exercise-list">Exercises:</label>
            <ul id="exercise-list">
                <!-- List of exercises will be added dynamically -->
                {% for workout in user_routines %}
                {% for workout1 in workouts %}
                {% if workout1.workout_id == workout.workout_id %}
                <li style="margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center;">{{workout1.exercise_name}}
                <button type="button" style="padding: 5px 10px; border: none; border-radius: 5px" 
                class="delete-exercise-btn" data-workout-id="{{ workout.workout_id }}">Delete</button>
                </li>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ul>
            <div class="separator"></div>
            <p>Select exercise to add to routine:</p>
            <select id="exercise-dropdown">
                <!-- Dropdown options for exercises will be added dynamically -->
                {% for workout in workouts %}
                <option value="{{workout.workout_id}}" class="collection-item">{{ workout.exercise_name }}</option>
                {% endfor %}
            </select>
            <button type="button" id="add-exercise-btn" style="padding: 5px 10px" >Add Exercise</button>
            <button type="submit" id="finish-btn" style="padding: 5px 10px; border: none; border-radius: 5px" >Finish</button>
        </form>
        <button type="button" id="close-popup-btn">X</button>
    </div>
</div>
{% endif %}

        <!-- Middle column content (Selected Workout) -->
        {% if selected_workout %}
        <div class="card" style="width: 500px">
            <div class = "card-image" style="height:400px; overflow: hidden">
                <img src="{{selected_workout.exercise_image2}}" alt="" class="circle responsive-img smaller-image">
            </div>
            <div class="card-content">
                <span class = "card-title">
                {{selected_workout.exercise_name}}
                </span>
                <p>Workout Name: {{selected_workout.exercise_name}}</p>
                <p>Description: {{selected_workout.description}}</p>
                <p>Muscle Group: {{selected_workout.muscle_group}}</p>
                <p>Equipment: {{selected_workout.equipment}}</p>
                {%for i in range(selected_workout.get_rating())%}
                    <i class="material-icons">star</i>
                {%endfor%}
                {%for i in range(10-selected_workout.get_rating())%}
                    <i class="material-icons">star_border</i>
                {%endfor%}
            </div>  
        </div>
        {% endif %}
        <div class="card" id="routine-info" style="height: 400 px; width:400px;">
            {%if selected_routine and not selected_workout %}
            <a style="color: black; font-size:10">Routine: {{selected_routine.name}}</a>
            {% for workout in selected_routine.workout %}
            {% for workout1 in workouts %}
            {% if workout1.workout_id == workout.workout_id %}
            <div class="card">
            <p>Name: {{workout1.exercise_name}}</p>
            <p>Description: {{workout1.description}}</p>
            <p>Muscle Group: {{workout1.muscle_group}}</p>
            <p>Equipment: {{workout1.equipment}}</p>
            <p>Rating: {{workout1.get_rating()}}</p>
            {%for i in range(workout1.get_rating())%}
                <i class="material-icons">star</i>
            {%endfor%}
            {%for i in range(10-workout1.get_rating())%}
                <i class="material-icons">star_border</i>
            {%endfor%}
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
            <a class="btn red left edit-btn" id="editBtn">Edit</a>
            {% endif %}
            <div>
        </div>
        </div>
    </div>

    <!-- Right Column  -->
</div>


<section class="col s12 m3" style="margin-top: 5px; overflow-y:scroll; height: 86vh; padding-right: 15px; padding-left: 15px;">

  <!-- Right column content (Routines) -->
<ul id="slide-out" class="sidenav sidenav-fixed" style="right: 0; left: auto; margin-top: 0x; overflow-y: scroll; width: 25vw;">
    <nav class="nav-extended custom-black">
        <div class="nav-wrapper">
            <a href="#" style="font-size: 1.2em;" class="brand-logo">{{ current_user.username }}'s Routines </a>
            <a class="right" href="/logout">Logout</a>
        </div>

    </nav>

    <!-- Create Routine here -->
    <h6>Create a routine</h6>
    <form class="row" style="height: min-content;" method="POST" action="/app/create">
        <div class="card col s12" style="height: 20vh">
            <input id="routine_name" method="POST" type="text" name="routine_name">
            <label for="name_inline">Name</label>
            <input class="btn grey right bottom" type="submit" value="SUBMIT" id="createBtn" />
        </div>
    </form>

    <!-- Display Routines -->
    <h5>Select A Routine</h5>
        <div class="input-field col s12">
            <div class="scrollable-list collection with-scroller">
                {% for routine in routines %}
                <div class="collection-item" style="margin-bottom: 10px; display: block;">
                    <p>{{ routine.name }}</p>
                    <a href="/app/view/{{routine.routine_id}}"class="btn red view-btn" id="viewBtn">View</a>
                    <a href="/routine/delete/{{routine.routine_id}}"class="btn red delete-btn" id="deleteBtn">Delete</a>
                </div>
                {% endfor %}
            </div>
        </div>
</ul>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const addExerciseBtn = document.getElementById('add-exercise-btn');
    addExerciseBtn.addEventListener('click', function () {
        const selectedWorkoutId = document.getElementById('exercise-dropdown').value;
        const selectedRoutineId = '{{ selected_routine.routine_id }}'; // Assuming you have access to selected_routine in your template
        const url = `/addworkout/${selectedRoutineId}/${selectedWorkoutId}`;
        
        // AJAX request
        fetch(url, {
            method: 'GET'
        })//error checking
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
    alert(data.message); 

    // Assuming data.workouts is the updated list of workouts
    const exerciseList = document.getElementById('exercise-list');
    exerciseList.innerHTML = ''; // Clear the list
    data.workouts.forEach(workout => {
        const li = document.createElement('li');
        li.textContent = workout.exercise_name;
        exerciseList.appendChild(li);
    });

    //location.reload();
    })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
    });
});


document.addEventListener('DOMContentLoaded', function () {
    const deleteExerciseBtns = document.querySelectorAll('.delete-exercise-btn');
    deleteExerciseBtns.forEach(function(btn) {
        btn.addEventListener('click', function () {
            const selectedWorkoutId = btn.dataset.workoutId;
            const selectedRoutineId = '{{ selected_routine.routine_id }}'; // Assuming you have access to selected_routine in your template
            const url = `/deleteworkout/${selectedRoutineId}/${selectedWorkoutId}`;
            
            // AJAX request 
            fetch(url, {
                method: 'GET'
            })//error checking
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                
                alert(data.message); 
             
                location.reload(); 
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        });
    });
});

document.addEventListener('DOMContentLoaded', function () {
    // Get elements
    const popup = document.getElementById('routine-popup');
    const editButtons = document.querySelectorAll('.edit-btn');
    const closePopupBtn = document.getElementById('close-popup-btn');

    // Function to show the pop-up
    function showPopup() {
        popup.style.display = 'block';
    }

    // Function to close the pop-up
    function closePopup() {
        popup.style.display = 'none';
    }

    // Add click event listener to edit buttons
    editButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            showPopup();
        });
    });

    // Add click event listener to close button
    closePopupBtn.addEventListener('click', function () {
        closePopup();
    });
});

</script>

{% endblock %}