{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block page %}{{title}}{% endblock %}

{{ super() }}


{% block content %}
<style>
  body {
   background-image: url('https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?cs=srgb&dl=pexels-victorfreitas-841130.jpg&fm=jpg') !important;
   background-size: cover; 
   background-repeat: no-repeat;
   background-position: center; 
}


</style>

<main class="container" style="margin-top:100px">
   <form class="card col s12" id="signupForm" method="POST" action="/signup" style="border-radius:15px; padding:1em">

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" name="username" type="text" class="validate">
          <label for="first_name">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="card-action" method="POST" action="/login">
        <input type="submit" value="Sign Up" class="blue text-white btn">
      </div>
  </form>
  <p style="color:white">Already a user? <a href="/"> Log in </a></p>
</main> 


{% endblock %}